* {
  margin: 0;
  
}
.header {
  background-color: #191919;
  height: auto;
  padding: 10px 0;
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 20px 10px;
}

.menu {
  background-color: #191919;
  color: #fff;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-list li {
  padding: 15px;
}

.menu-list a {
  color: #fff;
  text-decoration: none;
}

.menu-list a:hover {
  color: #f00;
}

/* Styles for submenus */
.has-submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  z-index: 999999;
}

.has-submenu:hover .submenu {
  display: block;
}
